<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840761883109-jv4snt3kjjrhk532a90semo1hjo3v5p3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840761883109-jv4snt3kjjrhk532a90semo1hjo3v5p3</string>
	<key>API_KEY</key>
	<string>AIzaSyCkg-cEr9LDdQ3cJjxr9lWab6tFs0QZ-JY</string>
	<key>GCM_SENDER_ID</key>
	<string>840761883109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moapp.whear</string>
	<key>PROJECT_ID</key>
	<string>whear-7eb17</string>
	<key>STORAGE_BUCKET</key>
	<string>whear-7eb17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840761883109:ios:0ddae3ed8e36c58a29d70c</string>
</dict>
</plist>